*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: #373a3c;
}


a {
    transition: .5s;
}

#header{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #006663;
    padding-top: 40px;
}

#header h1{
    color: #fff;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#header a{
    color: #fff;
   
    font-size: 1rem;
    transition: .2s;
    cursor: pointer;
}

#header a:hover{
    color:#FF6B1A;
}

.box{
    padding: 15px;
}

.logo-doceria{
    height: 60px;
    width: 60px;
    display: block;   
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

ul{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
}

.border1{
    border-bottom: 1px solid #dbdbdb;
}

#made-by-guido{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    top: 135px;
    left: 30px;
    color: #fff;
    cursor: pointer;
}

/*CONTEUDO*/
#principal-content{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

#principal-content h1,
#principal-content h2{
    color: #00B3AD;
    margin-bottom: 30px;
}

#principal-content h1{
    font-size: 48px;
}

#principal-content h2{
    font: 35px;
}

section{
    padding-left: 50px;
}

.welcome{
    padding-left: 0;
}

.sessao-bemvindo-content{
    padding-left: 50;
}